.page-node-type-over-ons {
    .views-field-field-tekst-header {
        h1, h2, h3 {
            color: white;
        }
    }

    .block-system-main-block .field--name-body {
        column-count: 2;
        column-gap: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}