a.readmore-link {
  text-align: center;
  display: block;
  width: 120px;
  margin: auto;
}


.node--type-homepagina {
  .header-wrapper {
    @include make-container();
    @include make-row();

    .field--name-field-tekst-header {
      @include make-col-ready();
      @include make-col(10);
      margin: auto;

      @include media-breakpoint-down(md) {
        @include make-col(12);
      }
    }
  }
}