node_modules
.idea/*
.DS_Store
package-lock.json
mix-manifest.json
css/*

js/app.js
js/app.js.map
js/app.min.js
js/app.js.LICENSE.txt
js/bundle.js
js/bundle.min.js
js/bundle.js.map
js/bundle.js.LICENSE.txt

!css/.gitkeep

