{#
/**
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
**/
#}

{% set classes = [
    'layout',
    'media-video-embed-youtube',
    'section-spacing-margin'
] %}

{% if content %}
    <section{{ attributes.addClass(classes) }}>
    {{dd(content.field_media_video_embed_field)}}
        {% if content.field_media_video_embed_field %}
            <ef2-youtube-wrapper
                iframe-src="{{ content.field_media_video_embed_field.0['#context']['value'] }}"
                thumbnail-src="{{ video_thumbnail_url }}"
            ></ef2-youtube-wrapper>
        {% endif %}
    </section>
{% endif %}