/*
	Main layout for the content area of the theme, between header and footer.
*/

#page-wrapper {
    position: relative;
    margin-top: 89px;
}

main {}

.text-formatted {
    @include ckeditor();
}

.body-content {
    @include ckeditor();

    @include make-container();
    @include make-row();

    .body-wrapper {
        @include make-col-ready();
        @include make-col(10);
        margin: auto;

        @include media-breakpoint-down(md) {
            @include make-col(12);
        }
    }
}