header {
    position: relative;
    &:not(.secondary-header) {
        position: fixed;
        z-index: 100;
        left: 0;
        right: 0;
        top: 0;
        background-color: white;
    }
    .region-header {
        display: flex;
        justify-content: space-between;
        padding: 30px 20px;
    }
}

.header-container {
    .header-wrapper {
        @include make-container();
        @include make-row();

        .field--name-field-tekst-header {
            @include section-spacing-padding;
            
            @include make-col-ready();
            @include make-col(10);
            margin: auto;

            @include media-breakpoint-down(md) {
                @include make-col(12);
            }
        }
    }
}

header.secondary-header {
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 30px;
    min-height: 375px;
    .block-system-branding-block {
        margin-bottom: 20px;
        .site-logo img {
            max-width: 150px;
            height: 150px;
        }
    }
    .views-field-field-tekst-header {
        max-width: 500px;
        width: 100%;
        h1,
        p {
            color: white;
        }
        p {
            font-size: 1.2rem;
        }
        a {
            font-weight: $font-weight-bold
        }
    }
}