@use "sass:map";

.region-content {
    max-width: map.get($grid-breakpoints, xl);
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.region-secondary-content {
    max-width: 1000px;
    margin: 0 auto;
}

.region-header,
.region-footer {
    max-width: 1200px;
    margin: 0 auto;

}

.view-paragraphs-full-width {
    .paragraph {
        max-width: map.get($grid-breakpoints, xl);
        width: 100%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 20px;

        padding: 50px 20px;

        @include media-breakpoint-down(sm) {
            grid-template-columns: 1fr;
        }
    }

    .views-row {
        padding: 50px 0;

        .field--name-field-textbox {
            margin: auto;
        }
    }

    .views-row.row-text-with-image {
        background-color: $color-background;
        // padding: 50px 0;
    }

    .views-row.row-tekst-links-met-afbeelding-recht {
        background-color: #EDEFEE;
    }

    .views-row.row-tekst-rechts-met-achtergrondafbe {
        background-size: cover;

        @include media-breakpoint-up(md) {
            padding: 100px 0;
        }
    }
}

.readmore-summary,
.readmore-text {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 35px;

    p {
        text-align: left;
    }

    a {
        border: 1px solid $color-white;
        border-radius: 12px;
        padding: 15px;
        color: $color-white;
        text-decoration: none;

        &:hover {
            color: darken($color-white, 10%);
        }
    }
}

.view-id-full_width_content {
  .field-content {
    .paragraph--type--text-with-image {
      background-color: $color-background;
    }

    .paragraph--type--tekst-links-met-afbeelding-recht {
      background-color: #EDEFEE;
    }
  }

  .paragraph-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    align-items: center;

    max-width: 1140px;
    padding: 50px 20px;
    width: 100%;
    margin: auto;
  }
}
